* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 14px;
    color: #444;
}

html,body>div{
    height: 100vh;
}

body {
    background: #fafafa;
    height: 100%;
}

.head {
    width:100%;
    height: 50px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4d5b76), color-stop(1, #6f80a1));
}

.head p {
    color: white;
    font-size: 20px;
    line-height: 50px;
    margin-left: 40px;
    font-weight: bold;
}

.head span {
    margin-right: 5px;
}

.login-box {
    width: 300px;
    margin: 0 auto;
    margin-top:70px; 
    border-radius: 3px;
    border: 1px solid #ccc;
}

.front {
    width: 100%;
    height: 40px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efefef), color-stop(1, #fafafa));
    color: #333;
    border-bottom: 1px solid #ccc;
}

.front p {
    line-height:40px;
    text-align: left;
    margin-left: 20px;
}

/* .form {
    text-align: center;
} */


.form p {
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
}

input[name="login"],input[name="pass"] {
    width:82%;
    display: block;
    margin: 0 auto;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(232,240,254);
}

.inIn {
    width: 88%;
    margin: 0 auto;
    text-align: right;
}

input[name="login-submit"] {
    cursor: pointer;
    background-color: #414959;
    border: 1px solid #363d4a;
    font-weight: normal;
    border-radius: 3px;
    padding: 6px 12px;
    color: white;
    display: inline-block;
    margin-left: auto;
}

.tmp {
    background-color: #f5f5f5;
    width: 250px;
    height:100%;
    border-right: 1px solid #c8c8cb;
    /* border-top: 1px solid #c8c8cb; */
}

.tmp li {
    height: 45px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efeff0), color-stop(1, #fafafa));
    border-bottom: 1px solid #c8c8cb;
    line-height: 45px;
    padding-left: 10px;
    cursor: pointer;
    position: relative;
}

.tmp li:hover {
    opacity: .7;
}

.tmp li i {
    margin-right: 10px;
}



.fa-angle-down {
    display: block;
    margin-left: 80px;
    font-weight: bold;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    
}

.fa-angle-up {
    margin-left: 80px;
    font-weight: bold;
    display: none;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

.fa-angle-up.show {
    display: block;
}


.fa-caret-right {
    margin: 0px 10px;
    padding-top: 10px;
}

.list {
    overflow: hidden;
    border: none;
    height: 0;
    line-height: 0;
    transition: height .3s ease-in;
}

.list:hover {
    cursor: pointer;
}

.list p:hover {
    opacity: .7;
}

.list.open {
    height: 65px;
    line-height: normal;
    border-bottom: 1px solid #c8c8cb;
}

.main-right {
    width: 100%;
    min-height: 100%;
    height: 100%;
    border-left: 1px solid #c8c8cb;
}

.top1 {
    width: 95%;
    height: 120px;
    margin: 0 auto;
    border-bottom: 1px solid #c8c8cb;
    line-height: 120px;
}

.top1 i {
    margin-right: 10px;
}

.top2 {
    width: 95%;
    min-height: 400px;
    /* height: auto;
    height: 100%; */
    margin: 0 auto;
    border-bottom: 1px solid #c8c8cb;
}

.top2 i {
    font-size: 30px;
    margin-right: 15px;
}

.let {
    font-size: 30px;
    margin-top: 30px;
}

.top2.span {
    border: 1px solid #c8c8cb;
    padding: 10px 20px;
    margin-left: 30%;
}

input[name="count"] {
    cursor: pointer;
    background-color: #414959;
    border: 1px solid #363d4a;
    font-weight: normal;
    border-radius: 3px;
    padding: 6px 12px;
    color: white;
    margin-top: 50px;
    margin-left: 32%;
}










.flex-flex {
    display: flex;
    align-items:stretch;

    /* height: 100vh; */
    min-height: 100%;
    /* height: auto; */

}

/* .flex-flex.y {
    height: auto;
} */

.menu {
    text-align: center;
    background-color: lightgreen;
    width: 80%;
    margin: 0 auto;
    margin-top:50px; 
    padding: 50px 0;
}

.menu h1  {
    padding-bottom: 30px;
}

.menu a {
    margin-bottom: 30px;
    cursor: pointer;
}

.menu2 {
    border: 1px solid black;
    padding: 30px 0;
    margin: 0 20px;
}

.kei0 {
    margin-bottom: 17px;
}

.kei {
    border: 1px solid black;
    padding: 5px 10px;
    margin-top: 5px;
    margin-right: 3px;
    background-color: white;
}

/* input[name="count"] {
    margin-top: 29px;
} */

.table-back {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: lightgreen;
    padding: 50px 0;
}


.register-back {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: lightgreen;
    padding: 50px 0;
}

.register-back h1 {
    margin-bottom: 20px;
}

.main-table {
    width: 95%;
    margin: 0 auto;
    /* height: auto; */
    position: relative;
}

.btn-flex {
    margin-top:20px;
}

.update {
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 20px;
}

.update table {
    margin: 0 auto;
}

.delete {
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 20px;
}

input[name="update_name"],input[name="update_number"] {
    width: 95%;
}

.form1 {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
}

.input-flex {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
}

.input2 {
    margin-left: 10px;;
}

.search1 {
    text-align: right;
}

.flex-btn {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    justify-content:space-between;
}

.display {
    width: 50%;
    height: 15%;
    background: white;
    position:fixed;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: .9;
    /* opacity: 0; */
    /* pointer-events: none; */

}

@media screen and (min-width:760px) {
    .login-box {
        width: 398px;

    }

    .menu {
        width: 700px;
    }

    .table-back {
        width: 700px;
    }

    .register-back {
        width: 700px;
    }

    .flex-btn {
        width: 150px;
    }

    .display {
        width: 300px;
        height:100px;
    }
}

input[type="radio"] {
    cursor: pointer;
}

input[name="register_sub"] {
    padding: 5px 20px;
}

.q table {
    margin: 0 auto;
}

.q.fade {
    display: none;
}

.register-back span {
    color: red;
}

.a {
    margin-top: 30px;
}

.a a{
    display: block;
    margin-bottom: 10;
}

.contact p {
    margin-top: 10px;
}

.err p {
display: none;
color: red;
}

.err p.block {
    display: block;
}

.yy {
    display: none;
}

.yy.block {
    display:block;
}

.ii {
    color: red;
    display: none;
}

.ii.block {
    display:block;
}

table button {
    color: orange;
    height: 80%;
    cursor: pointer;
    
}

.ko {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}



.display.fadeIn {
    opacity: .9
}

.display p {
    margin-top: 20px;
}

#yesNo {
    margin-top: 40px;
}

/* .flex-btn button {
    height: 24px;

} */

/* input[name="yes"] {
    width: 44px;
} */

.display2 {
    width: 50%;
    height: 35%;
    background: white;
    position:fixed;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: .9;
    padding-top: 40px;
    /* display: none; */
    
}

.img {
    width: 100px;
    height: 110px;
}

.img-center {
    width: 90%;
    height: 90%;
    text-align: center;
}

.kk {
    display: none;
    color: red;
}

.kk.block {
    display:block;

}

.input-flex {
    justify-content: flex-start;
    align-items: center;
}

input[name="input1"],input[name="input2"],input[name="input3"] {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px 12px;
}

input[name="search"] {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 4px 14px;
    cursor: pointer;
    margin-left: 10px;
    background-color: #556665;
    color: white;
}

table th {
    text-align: center;
    /* font-weight: normal; */
    border-bottom: 2px solid #ccc;
    color: #428bca;
    font-size: 18px;
    position:sticky;
    top: 0;
}

table td {
    border-bottom: 1px solid #ccc;
    height: 120px;
}

/* table tr {
    height: 120px;
} */

img.img {
    display: inline-block;
    vertical-align:middle;
}

.top2 .fa-check {
    font-size: 20px;
    margin-right: 0;
    margin-top: 25px;
    color: white;
}

.top2 a {
    text-decoration: none;
    border: 1px solid black;
    margin-left: 3%;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #414959;
    color: white;
}

.top2 a:hover {
    opacity: .8; 
}

.display2 input {
    border-radius: 4px;
    border: 1px solid #a9a9a9;
    padding: 6px 12px;
}

.display2 p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.display2 input[type='submit'] {
    margin-top: 15px;
}

.oo {
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #a9a9a9;
}

input[name="yes"],.no{
    border-radius:  4px;
    border: 1px solid #a9a9a9;
    margin-top: 10px;
}

.ko input[type="submit"] {
    border-radius: 4px;
    border: 1px solid #a9a9a9;
    padding: 2px 4px;
    cursor: pointer;
}

.ko input[type="submit"]:hover {
    opacity: .8;
}

input[type="submit"],input[type="button"],button {
    cursor: pointer;
}

input[type="submit"]:hover,input[type="button"]:hover,button:hover {
    opacity: .7;
}

.check {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.q {
    display: flex;
    margin-top: 20px;
}

.okok {
    width: 40%;
    border: 1px solid #ccc;
    border-radius:  4px;
    text-align: center;
    margin-bottom: 50px;
}

.noknok {
    width: 40%;
    border: 1px solid #ccc;
    margin-left: 5%;
    border-radius:  4px;
    height: 200px;
    text-align: center;
}

.ok1 {
    border-bottom: 1px solid #a9a9a9;
    padding: 10px 0;
    padding-left: 10px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efefef), color-stop(1, #fafafa));
}

.nok1 {
    border-bottom: 1px solid #a9a9a9;
    padding: 10px 0;
    padding-left: 10px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efefef), color-stop(1, #fafafa));
}

input[name="register_name"],input[name="register_number"],input[name="update_id"],input[name="update1"],input[name="update2"],input[name="img_id"],input[name="delete_id"] {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px 12px;
    margin-bottom: 10px;
}

input[name="img"] {
    padding: 4px 8px;
}

input[name="register_sub"],input[name="up"],input[name="update_sub"],input[name="img_submit"],input[name="delete_sub"] {
    text-decoration: none;
    border: 1px solid black;
    margin-left: 3%;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #414959;
    color: white;
    margin: 10px 0;
}

.okok form p {
    margin-bottom:5px;
}

.q.del {
    justify-content: center;
}

.register-bk {
    text-align: center;
    margin-top: 30px;
}

.ij {
    text-align: center;
    margin-top: 20px;
}

.top2 .ini {
    padding: initial;
    border: initial;
    width: 0;
    height: 0;
    background-color: initial;
    color: black;
}

.top2 .ini:hover {
    opacity: initial;
}

input[name="second"],.no,input[name="yes"]{
    padding: 8px 16px;
    background-color: #dcdcdc;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
}

.qr1 {
    text-align: center;
}

.qr1 p {
    font-size: 20px;
    margin: 20px 0;
}

.qr1 img {
    margin-bottom: 50px;
}

.qr .a {
    margin-left: 0;
}

.nin2 {
    text-align: center;
}

.nin2 h1 {
    margin: 20px 0;
    font-size: 20px;
}

.nin2 p {
    margin-bottom: 20px;
}

button[name="send"] {
    margin-top: 20px;
}

.csv {
    border: 1px solid #778899;
    margin-left: 3%;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #778899;
    color: white;
}

.display3 {
    position:fixed;
    top:30%;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
    width: 400px;
    height: 300px;
    text-align: center;
    background-color: white;
    opacity: .9;
    display: none;
}

.display3.fadeIn {
    display: block;
}

.form3.fo {
    margin-top: 50px;
}

input[name="up"] {
    margin-top: 40px;
}

.fa-xmark {
    float: right;
    padding: 4px 8px;
    font-size: 23px;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.scroll {
    overflow: scroll;
}

.ioi {
    margin-bottom: 100px;
}

thead th {
    background-color: #fafafa;
}

